body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

 input{
    background-color: transparent;
    border: none;
     border-bottom: 2px solid grey; 
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 25px 50px -12px;
    outline: none;
    padding:20px;
}


 .warm{
  background-image: linear-gradient(to right top, #e7734a, #f09870, #f7ba99, #fcdbc8, #fffcfa);  height: 100vh
}

 .cold{
  background-image: linear-gradient(to right top, #378ebe, #70a7ce, #9dc0df, #c6dbef, #eef6ff);  
  height: 100vh;
}


.center-info{
  margin-top: 2%;

  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-info h5{
  font-weight: bold;
  font-size: 2em;
  font-style: italic;

  color: #3b444b;
}

.center-info h4{
  font-weight: 800;
  font-size: 10em;
  font-style: italic;
  line-height: 0.8em;

  color: #354141;
}

 .center-info .date {
  font-size: 1em;
  font-style: normal;
  font-style: initial;
  font-weight: 400;
}

.icon{
  font-size: 2em;
  color: inherit;
  opacity: 0.7;
}

.card-color{
  background-color: transparent;
  border: none;
}

.bottom-placement{
  position: absolute;
  width: 100vw;
  bottom: 0;
}