body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Be Vietnam Pro', sans-serif;
}

 input{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;     
    padding: 15px;
    -webkit-appearance: none;

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
  }

  input[type="text"]::placeholder {  
    text-align: center; 
} 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3b444b;
  opacity: 1; /* Firefox */
}

.loading{
  color:#3b444b;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100; 

  /********  FLASHING TEXT    *********/
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}



.welcome{
  color: #3b444b;
  background-image: #F2F2F2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;  

  padding: 25px;
  background-color: #F2F2F2;  
  border-radius: 20px;

  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(16px);

}

.welcome .weatherWelcome{
  font-weight: 400 ;
}

 .warm{
  background-image: url(/public/blueSky.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
 }


 .cloudy{
  background-image: url(/public/cloudy.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

 .cold{
  background-image: url(/public/snow.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

.rain{
  background-image: url(/public/rain.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

.snow{
  background-image: url(/public/snowDay.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

.mist{
  background-image: url(/public/misty.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

.drizzle{
  background-image: url(/public/drizzle.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}

.defaultImg{
  background-image: url(/public/defaultImg.jpg);

  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
  
  height: 100vh;
}


.center-info{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

  padding: 25px;
  background-color: #F2F2F2;  
  border-radius: 20px;

  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(16px);
}



h5.country{
  
  font-weight: 300;
  font-size: 8vw;

  line-height: 0.8em;

  color: #354141;
  
}

 .center-info .date {
  font-size: 2vw;
  font-style: normal;
  font-weight: 100;
}

 .center-info .bottom-info {
  font-size: 1vw;
  font-style: normal;
  font-weight: 200;
}

.center-info .weather{
  font-weight: 400;
  font-size: 9vw;
}

.center-info .temperature{
  font-weight: 600;
  font-size: 9vw;
}

.icon{
  font-size: 15vw;
  opacity: 0.7;

  text-shadow: 10px 10px 10px rgb(104, 103, 103);
}

.card-color{
  background-color: transparent;
  border: none;
}

.bottom-placement{
  position: absolute;
  width: 100vw;
  bottom: 0;
}


/********  MEDIA q  **********/

@media screen and (width > 1200px) {

  .center-info{
    position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -40%);
  
    padding: 25px;
    background-color: #F2F2F2;  
    border-radius: 20px;
  
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(16px);
  }
}



@media screen and (width > 300px) {

  .center-info .country{
    font-weight: 300;
    font-size: 4vw;
  
    line-height: 0.8em;
  
    color: #354141;
  }
  
   .center-info .date {
    font-size: 2vw;
    font-style: normal;
    font-weight: 100;
  }
  
  .center-info .weather{
    font-weight: 400;
    font-size: 5vw;
  }
  
  .center-info .temperature{
    font-weight: 600;
    font-size: 6vw;
  }

  .icon{
    font-size: 13vw;
  }
  }

  @media screen and (width < 2100px) {
    .center-info .bottom-info {
      font-size: 2vw;
   }
    
  }