body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

 input{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;     
    padding: 15px;
    -webkit-appearance: none;
  }


.welcome{
  color: #3b444b;
  background-image: #F2F2F2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;  

}


 .warm{
   /*
  background-image: linear-gradient(to right top, #e7734a, #f09870, #f7ba99, #fcdbc8, #fffcfa);  height: 100vh
*/
 }


 .cold{
   /*
  background-image: linear-gradient(to right top, #378ebe, #70a7ce, #9dc0df, #c6dbef, #eef6ff);  
  height: 100vh;
  */
}


.center-info{
  margin-top: 2%;

  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  padding: 25px;
  background-color: #F2F2F2;  
  border-radius: 20px;
}

.center-info h5{
  font-weight: bold;
  font-size: 6vw;
  font-style: italic;

  color: #3b444b;
}

.center-info h4{
  font-weight: 800;
  font-size: 12vw;
  font-style: italic;
  line-height: 0.8em;

  color: #354141;
}

 .center-info .date {
  font-size: 1em;
  font-style: normal;
  font-style: initial;
  font-weight: 400;
}

.icon{
  font-size: 30vh;
  opacity: 0.7;
}

.card-color{
  background-color: transparent;
  border: none;
}

.bottom-placement{
  position: absolute;
  width: 100vw;
  bottom: 0;
}


@media screen and (width > 1000px) {

    .center-info h5{
      font-weight: bold;
      font-size: 3vw;
      font-style: italic;
    
      color: #3b444b;
    }
    
    .center-info h4{
      font-weight: 800;
      font-size: 8vw;
      font-style: italic;
      line-height: 0.8em;
    
      color: #354141;
    }
    
     .center-info .date {
      font-size: 1em;
      font-style: normal;
      font-style: initial;
      font-weight: 400;
    }
    
    .icon{
      font-size: 30vh;
      opacity: 0.7;
    }

}